<aside class="left-bar-menu">
  <nav>
    {{#each filters as |filter|}}
      {{left-bar/filter-item label=filter.label icon=filter.icon
        link=filter.link title=filter.label queryParams=filter.queryParams
        tagName=filter.tagName className=filter.className}}
    {{/each}}
  </nav>

  {{#paper-tabs primary=true
    borderBottom=true
    stretch=true
    selected=selectedTab
    class="left-bar-menu-tabs"
    onChange=(action (mut selectedTab)) as |tabs|}}

    {{#each menuTabs as |tab|}}
      {{#tabs.tab value=tab}}
        {{tab.title}}
      {{/tabs.tab}}
    {{/each}}
  {{/paper-tabs}}

  {{#liquid-bind (hash tab=selectedTab.index m=selectedTab) class="md-padding dynamic-animation" as |current|}}
    {{#if current.m.groups}}
      {{#each current.m.groups as |group|}}
        {{left-bar/group-item title=group.title
          link=group.link queryParam=group.id className="left-bar-menu-group-item"}}
      {{/each}}

      {{#if addNewGroup}}
        {{left-bar/group-item addNewMode=true className="left-bar-menu-group-item"}}
      {{else}}
        <div {{action (mut addNewGroup) (not addNewGroup)}} class="left-bar-add-group layout-row layout-align-center">+ Add Group</div>
      {{/if}}

    {{else}}
      {{#each current.m.filters as |filter|}}
        {{left-bar/filter-item title=filter.title
        link=filter.link queryParams=filter.queryParams}}
      {{/each}}
    {{/if}}
  {{/liquid-bind}}
</aside>
