<aside class="left-bar-menu">
  {{log tasks.length}}
  <nav>
    <ul class="left-bar-menu-list">
      {{#each filters as |filter|}}
        {{left-bar/item tasks=filter.tasks label=filter.label titleIcon=filter.icon
          link=filter.link title=filter.label tagName=filter.tagName className=filter.className}}
      {{/each}}
    </ul>
  </nav>

  {{#paper-tabs primary=true
    borderBottom=true
    stretch=true
    selected=selectedTab
    class="left-bar-menu-tabs"
    onChange=(action (mut selectedTab)) as |tabs|}}

    {{#each menuTabs as |tab|}}
      {{#tabs.tab value=tab}}
        {{tab.title}}
      {{/tabs.tab}}
    {{/each}}
  {{/paper-tabs}}

  {{#liquid-bind (hash tab=selectedTab.index m=selectedTab) class="md-padding dynamic-animation" as |current|}}
    {{#if (eq current.m.title "Groups")}}
      <nav>
        <ul class="left-bar-menu-list">
          {{#each current.m.groups as |group|}}
            {{left-bar/item tasks=group.tasks item=group title=group.title onSave=(action "saveGroup") onDelete=(action "deleteGroup") param=group.param
              actionsButtons=true link=group.link className="left-bar-item"}} 
          {{/each}}
        </ul>
      </nav>

      {{#if isAddGroupFormVisible}}
        {{left-bar/item addNewMode=true onAdd=(action "addGroup") onCancel=(action (mut isAddGroupFormVisible) false) className="left-bar-item"}}
      {{else}}
        <div {{action (mut isAddGroupFormVisible) (not isAddGroupFormVisible)}} class="left-bar-add-group-button layout-row layout-align-center">+ Add Group</div>
      {{/if}}
    {{/if}}
    
    {{#if (eq current.m.title "Filters")}}
      <nav>
        <ul class="left-bar-menu-list">
          {{#each current.m.filters as |filter|}}
            {{left-bar/item tasks=filter.tasks title=filter.title link=filter.link param=filter.param tagName="li" className="left-bar-item"}}
          {{/each}}
        </ul>
      </nav>
    {{/if}}
  {{/liquid-bind}}
</aside>
