{{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action "close") origin=dialogOrigin}}
  {{#paper-dialog-content}}
    <h2 class="md-title">Statistics: {{title}}</h2>
    <p>Total: {{tasks.length}}</p>
    <p>Remaining Tasks: {{remainingTasks}}</p>
    <p>Completed: {{completed}}</p>
    <p>Summary estimated time: {{summaryEstimated}}</p>
    <p>Summary remaining time: {{summaryRemaining}}</p>
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button primary=true onClick=(action "close")}}Okay{{/paper-button}}
  {{/paper-dialog-actions}}
{{/paper-dialog}}
