<h2 class="task-board-title">{{title}}</h2>
{{#task-list}}
  {{#sortable-objects sortableObjectList=sortedTasks sortEndAction="sortEndAction" enableSort=true}}
    {{#each sortedTasks as |task|}}
      {{#draggable-object content=task overrideClass="sortable-task" dragEndAction="dragEndAction" isSortable=true}}
        {{task-list/item id=task.id item=task title=task.title dueDateMs=task.dueDate groupId=task.groupId  priority=task.priority
          onSave=(action "saveTask") onDelete=(action "deleteTask") onChangePriority=(action "changePriority") onComplete=(action "completeTask")}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}

  {{#if addNewTaskMode}}
    {{task-list/item defaultDueDate=defaultDueDate defaultGroupId=defaultGroupId defaultPriority=defaultPriority addNewMode=addNewTaskMode onAddNew=(action "addTask")
      cancelAction=(action (mut addNewTaskMode) (not addNewTaskMode)) saveButtonLabel="Add task"}}
  {{else}}
    <div {{action (mut addNewTaskMode) (not addNewTaskMode)}} class="task-board-add-task-button">+ Add Task</div>
  {{/if}}
{{/task-list}}
