<h2>{{title}}</h2>
{{#task-list}}
  {{#each tasks as |task|}}
    {{task-list/item id=task.id item=task title=task.title dueDateMs=task.dueDate groupId=task.groupId
      onSave=(action "saveTask") onDelete=(action "deleteTask") onChangePriority=(action "changePriority")}}
  {{/each}}

  {{#if addNewTaskMode}}
    {{task-list/item groupId=model.groupId addNewMode=addNewTaskMode onAddNew=(action "addTask") 
      cancelAction=(action (mut addNewTaskMode) (not addNewTaskMode)) saveButtonLabel="Add task"}}
  {{else}}
    <div {{action (mut addNewTaskMode) (not addNewTaskMode)}} class="task-board-add-task-button">+ Add Task</div>
  {{/if}}
{{/task-list}}
