<h2>Task overview:</h2>
{{task-list/item id=task.id item=task radioButton=false title=task.title
  onSave=(action "saveTask") onChangePriority=(action "changePriority")
  dueDateMs=task.dueDate groupId=task.groupId className="task-overview-item flex-gt-sm-80 flex-100"}}

{{#if task.finishedAt}}
  {{#paper-button primary=true onClick=(action "markAsUncompleted" task)}}Uncomplete{{/paper-button}}
{{else}}
  {{#paper-button primary=true onClick=(action "markAsCompleted" task)}}Mark as completed{{/paper-button}}
{{/if}}

<div class="task-overview-content-wrapper">
  <h4 class="task-overview-time-tracking-title">Time tracking:</h4>
  <div class="task-overview-time-tracking">
    <div>Estimated time: {{estimatedTime}}</div>
    <div>Spent time: {{spentTime}}</div>
    <div>Remaining time: {{remainingTime}}</div>
  </div>
</div>

<div class="task-overview-content-wrapper">
  <h4>Subtasks:</h4>
  <div class="task-overview-subtask-list flex-75">
    {{#task-list}}
      {{#each subtasks as |subtask|}}
        {{task-list/item title=subtask.title dueDateAvailable=false item=subtask onSave=(action "saveSubtask") onDelete=(action "deleteSubtask")
          subtask=true taskId=task.id addButtonLabel="Add subtask"}}
      {{/each}}
    {{/task-list}}
    {{#if addNewSubtaskMode}}
      {{task-list/item onAddNew=(action "addSubtask") addNewMode=addNewSubtaskMode dueDateAvailable=false
        subtask=true taskId=task.id cancelAction=(action (mut addNewSubtaskMode) (not addNewSubtaskMode)) addButtonLabel="Add subtask"}}
    {{else}}
      <div {{action (mut addNewSubtaskMode) (not addNewSubtaskMode)}} class="task-overview-add-subtask-button">+ Add subtask</div>
    {{/if}}
  </div>
</div> 

<div class="task-overview-content-wrapper">
  <h4>Comments:</h4>
  <div class="task-overview-comments-list flex-75">
    <ul>
      {{#each comments as |comment|}}
        <li>{{comment.body}}</li>
      {{/each}}
    </ul>
    
    {{paper-input textarea=true block=true label="Comment" maxlength=50 passThru=(hash rows=2 maxRows=2)
      value=newComment.body onChange=(action (mut newComment.body)) class="task-overview-content-comment-textarea"}}
      <div class="layout-row layout-align-end">
        {{#paper-button primary=true onClick=(action "addComment" newComment)}}Add comment{{/paper-button}}
      </div>
  </div>
</div>
