<div class="task-list-item-content layout-column">
  {{#if editMode}}
    {{#paper-form onSubmit=(action "save") as |form|}}
      <div class="layout-row layout-align-space-between">
        {{form.input onChange=(action (mut titleToChange)) label="e.g. Wash car on 7 November" value=titleToChange class="task-list-item-input flex-75"}}
        {{pikaday-input onSelection=(action (mut dueDateToChange)) yearRange=datePickerYearRange format="MMM DD YYYY" value=dueDateToChange placeholder="Due date" class="task-list-item-datepicker"}}
      </div>
      
      <div class="layout-row">
        {{#form.submit-button primary=true class="task-list-item-button"}}Save{{/form.submit-button}}
        {{#paper-button onClick=(action "cancelEdit") warn=true class="task-list-item-button"}}Cancel{{/paper-button}}
      </div>
    {{/paper-form}}

  {{else if addNewMode}}
    {{#paper-form onSubmit=(action "addNew") as |form|}}
      <div class="layout-row layout-align-space-between">
        {{form.input onChange=(action (mut titleToChange)) label="e.g. Wash car on 7 November" value=titleToChange class="task-list-item-input flex-75"}}
        {{pikaday-input onSelection=(action (mut dueDateToChange)) yearRange="currentYear, 2020" format="MMM DD YYYY" value=dueDateToChange placeholder="Due date" class="task-list-item-datepicker"}}
      </div>
      
      <div class="layout-row">
        {{#form.submit-button primary=true class="task-list-item-button"}}Add new task{{/form.submit-button}}
        {{#paper-button onClick=(action "cancel") warn=true class="task-list-item-button"}}Cancel{{/paper-button}}
      </div>
    {{/paper-form}}
  
  {{else}}
    <div class="layout-row layout-align-center-center">
      {{paper-radio toggle=true value="Toggable" groupValue=toggleValue
        onChange=(action (mut toggleValue)) class="task-list-item-radio"}}
      <div class="task-list-item-value layout-row layout-align-center-center">
        <div>{{title}}</div>
        <div {{action (mut editMode) (not editMode)}} class="task-list-item-edit-icon-wrapper">
          {{paper-icon "mode-edit" size=24 class="task-list-item-edit-icon"}}
        </div>
      </div>
      
      <div class="layout-row layout-align-center-center margin-left-auto">
        <div class="task-list-item-duedate">{{dueDate}}</div>
        {{#paper-menu as |menu|}}
          {{#menu.trigger}}
            {{#paper-button onClick=null iconButton=true}}
              {{paper-icon "more-vert" class="md-menu-origin"}}
            {{/paper-button}}
          {{/menu.trigger}}

          {{#menu.content class="task-list-item-menu" as |content|}}
            {{#content.menu-item onClick=(action (mut editMode) (not editMode))}}
              {{paper-icon "mode-edit" class="md-menu-align-target"}}
              <span>Edit</span>
            {{/content.menu-item}}


            {{#each priorityItems as |priorityItem|}}
              {{#content.menu-item onClick=(action "changePriority" priorityItem.value)}}
                {{paper-icon priorityItem.icon class="md-menu-align-target"}}
                <span>{{priorityItem.title}}</span>
              {{/content.menu-item}}
            {{/each}}
            
            {{#content.menu-item onClick=(action "delete")}}
              {{paper-icon "delete" class="md-menu-align-target"}}
              <span>Delete</span>
            {{/content.menu-item}}

            {{#content.menu-item onClick=(action "delete")}}
              {{paper-icon "note-add" class="md-menu-align-target"}}
              <span>Add subtask</span>
            {{/content.menu-item}}

          {{/menu.content}}
        {{/paper-menu}}
      </div>
   </div>
  {{/if}}
</div>
