<div class="task-board-wrapper flex-70">
  Inbox
  {{#task-list}}
    {{#each tasks as |task|}}
      {{task-list/item id=task.id title=task.title dueDateMs=task.dueDate onSave=(action "saveTask") onDelete=(action "confirmDelete")}}
    {{/each}}

    {{#if addNewTaskMode}}
      {{task-list/item addNewMode=addNewTaskMode onAddNew=(action "addTask") cancelAction=(action (mut addNewTaskMode) (not addNewTaskMode)) saveButtonLabel="Add task"}}
    {{else}}
      <div {{action (mut addNewTaskMode) (not addNewTaskMode)}} class="task-board-add-task">+ Add Task</div>
    {{/if}}
  {{/task-list}}

  {{#if isConfirmDialogVisible}}
    {{confirm-dialog onConfirm=(action "deleteTask") onCancel=(action "cancelDelete")
      fullscreen="true" clickOutsideToClose="true" title="Confirm delete" confirmButtonLabel="Delete"
      question=(concat "Are you sure you want to delete '" taskTitleToDelete "' ?")}}
  {{/if}}
</div>
